<% include ../partials/header %>
<div class="wholePage">
    <div class="row">
        <% for (var i=0; i<allcoffee.length; i++){ %>
            <div class="col-lg-3">
                <div class="thumbnail">
                    <h4><%= allcoffee[i].Title %></h4>
                    <img src="<%= allcoffee[i].Image %>"><br>
                    <p><strong>Ingredients:</strong><br><%- allcoffee[i].Description.substring(0, 80)%>..</p>
                    <button class="btn btn-xs btn-success"><a class="readMore" href= "/coffee/<%= allcoffee[i]._id%>">Read More</a></button>
                </div>
            </div>
        <% } %>
    </div>
</div>
<% include ../partials/footer %>