<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="newform">
            <h1>Add Comment To <%=drink.Title%></h1>
            <form action="/drink/<%= drink._id %>/comment" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name ="comment[Text]" placeholder= "Put your comment here">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<% include  ../partials/footer %>

